header {
	width: 100%;
	height: 50px;
	background: #EBEBEB;
}

.container-fluid, .container, .row {
	height: 50px;
}

div a {
	margin-top: 10%;
}

#insertImage {
	display: none;
}

.top-margin {
	margin-top: 10%;
}

.textAlignLeft {
	text-align: left;
}

.textAlignCenter {
	text-align: center;
}

.textAlignRight {
	text-align: right;
}

.textAlignJustify {
	text-align: justify;
}

#previewButton {
	position: absolute;
	right: 2vw;
	top: 15vh;
}
