#inputTextArea {
	resize: none;
	clear: both;
	min-width: 100%;
	max-width: 100%;
	min-height: 92vh;
	max-height: 92vh;
	overflow: auto;
	border: none;
	background: #FFFFFF;
	padding: 4em;
}

#inputTextArea:focus {
	outline: none !important;
}
