/* ---DIV height Fix--- */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
.cf {
  *zoom: 1; }

/* ---Media Object--- */
.Media {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em; }

.Media-figure {
  border-radius: 5px;
  width: 40px;
  margin-right: 1em; }

.Media-body {
  flex: 1; }

.Media-body,
.Media-body :last-child {
  margin-bottom: 0; }

.Media-title {
  margin: 0 0 0.5em; }

.Media--center {
  align-items: center; }

.Media--reverse > .Media-figure {
  order: 1;
  margin: 0 0 0 1em; }

body {
  background: rgba(124, 133, 137, 0.3);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100; }

.card-panel {
  margin: 0;
  padding: 0; }

.hideIt {
  display: none; }

header {
  width: 100%;
  height: 50px;
  background: #EBEBEB; }

.container-fluid, .container, .row {
  height: 50px; }

div a {
  margin-top: 10%; }

#insertImage {
  display: none; }

.top-margin {
  margin-top: 10%; }

textarea {
  resize: none;
  clear: both;
  min-width: 100%;
  max-width: 100%;
  min-height: 92vh;
  max-height: 92vh;
  overflow: auto;
  border: none;
  background: #FFFFFF;
  padding: 4em; }

textarea:focus {
  outline: none !important; }

.darkCurtain {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 2; }

#showTextArea {
  position: relative;
  left: 15vh;
  top: 4vh;
  background: #FFFFFF;
  width: 70vw;
  height: 94vh;
  padding: 4em;
  overflow: auto; }

#showTextArea a, #showTextArea p {
  margin: 0; }

#showTextArea a {
  margin-top: -5%;
  margin-right: -5%; }

#previewButton {
  position: absolute;
  right: 2vw;
  top: 15vh; }

.textAlignLeft {
  text-align: left; }

.textAlignCenter {
  text-align: center; }

.textAlignRight {
  text-align: right; }

.textAlignJustify {
  text-align: justify; }
